version: "3.8"
services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dppe
    ports:
      - "5432:5432"
    volumes:
      - dppe_pgdata:/var/lib/postgresql/data

volumes:
  dppe_pgdata:
